.main-section-container {
    padding: 2% 10%;
}

.main-section {
    padding: 2% 30%;
    -webkit-box-shadow: rgba(9, 132, 227,1.0) 1px 1px 20px;
    -moz-box-shadow: rgba(9, 132, 227,1.0) 1px 1px 20px;
    box-shadow: rgba(9, 132, 227,1.0) 1px 1px 20px;
    overflow: auto;
    background: linear-gradient(rgba(9, 132, 227,1.0), rgba(255, 118, 117,1.0));
    background-size: cover;
}


.main-section h1,  .main-section h2, .main-section h3 {
    color: white;
}

.light {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.dark {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.light-text {
    color: white;
}

.warning {
    color: red;
}
.feedback {
    color: green;
}

.main-section label {
    font-weight: bold;
    color: white;
}

div.shadow-box {
    box-shadow: #424242 0 0 10px;
    padding: 2%;
    margin: 0 auto;
    color: white;
}

p#time {
    font-size: 300%;
    font-weight: bold;
    font-style: italic;
    color: white;
}
