doctype html
html
   head
     title= "Submitted Form"
     link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
   body
     br
     h1.text-center Submitted Form
     br
     div.container
         table.table
            tr
                th Name
                td #{data.name}
            tr
                th Email
                td #{data.email}
            tr
                th Password
                td #{data.password}



